<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>websocket</title>
    </head>
    <body>
        <script>
            const websocket = new WebSocket('ws://127.0.0.1:12310/abc');

            websocket.onopen = () => {
                websocket.send('dsc');
            };

            websocket.onmessage = (e) => {
                const { data } = e;
            };

            websocket.onclose = () => {
                console.log('关闭链接');
            };

            websocket.onerror = () => {
                console.log('连接出错');
            };
        </script>
    </body>
</html>
